.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins',
    sans-serif;
  font-weight: 600;
  padding: 2rem 3rem;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.Card__title {
  color: #9244ff;
  font-size: 1.2rem;
  padding: 5px 0;
}

.Card__content {
  display: flex;
  align-items: center;
  color: #262626;
}

.Card__data {
  font-size: 3.2rem;
}

.Card__data-type {
  font-size: 1.2rem;
  margin-left: 5px;
}

.Card__wrapper {
  position: absolute;
  bottom: 0.4rem;
  right: 0.6rem;
}

.Card__tooltip {
  position: relative;
}

.Card__button {
  color: #9244ff;
  cursor: default;
  font-size: 1.2rem;
}

.Card__button:hover {
  color: #7b36db;
}

.Card__info {
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 120%;
  z-index: 10;
  background-color: #262626;
  color: #fff;
  padding: 0.7rem;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 400;
  width: 12rem;
  /* text-align: center; */
}

.Card__button:hover+.Card__info {
  visibility: visible;
}