.DateRange {
  display: flex;
  /* background-color: #262626; */
  background-color: #eee;
  padding: 2rem 2rem 2.5rem 2rem;
  border-radius: 3px;
  font-family: 'Poppins',
    sans-serif;
}

.DateRange__group {
  display: flex;
  flex-direction: column;
}

.DateRange__label {
  margin: 0 0 5px 5px;
  font-family: 'Poppins',
    sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  color: #7a7a7a;
}

.DateRange__input {
  border: 3px solid #fff;
  padding: 0.5rem;
  margin: 0 5px;
  border-radius: 2px;
  font-family: 'Poppins',
    sans-serif;
  font-size: 1rem;
  color: #262626;
  width: 11rem;
}

.DateRange__input:focus {
  border: 3px solid #7a7a7a;
  opacity: 1;
  outline: none;
  background-color: none;
}

.DateRange__button {
  /* background-color: #8BC53F; */
  background-color: #9244ff;
  border: none;
  padding: 0.85rem 1rem;
  margin: 0 5px;
  color: #fff;
  border-radius: 2px;
  align-self: flex-end;
  font-size: 0.9rem;
  font-family: 'Poppins',
    sans-serif;
  font-weight: 600;
}

.DateRange__button:hover {
  background-color: #7b36db;
}